# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
*.egg

## pycharm
.idea/

## virtual env
env/

## test / coverage
.coverage
htmlcov

# docs
docs/ICO-TechTest-20201101-Branding-CodeChallenge-final.pdf
docs/README.md
